label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-right: 20px;
}

input {
    border: none;
    box-shadow: 0px 0px 4px #321;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    outline: none;
    transition: 0.3s all linear;
}

input:focus {
    box-shadow: 0px 0px 8px rgb(26, 118, 194);
    transform: scale(1.1);
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

h1::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    background-color: crimson;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}


.test {
    display: block;
    height: 40px;
    width: 200px;
    background-color: red;
}

.test1 {
    display: inline-block;
    height: 50px;
    width: 300px;
    background-color: black;
}